/* đŠâđť App *********************************************************************/
@import './styles/reset.css';
@import './styles/utility.css';
@import './styles/type.css';
@import './styles/forms.css';
@import './styles/layout.css';


/* Vars */
:root {
  /* colors */
  --red: #ce3a67;
  --orange: #f0b046;
  --yellow: rgb(200, 200, 60);
  --green: #46a789;
  --blue: #33bce1;
  --purple: #AA71C4;

  --bg-color: rgb(25, 25, 25);
  --main-bg-color: rgb(23, 23, 23);

  /* fonts */
  --body-text-color: rgb(180, 180, 180);
  --button-text-color: rgb(180, 180, 180);
  --border-color: rgb(35, 35, 35);

  /* layout */
  --border-radius: 1.5rem;
  --padding: 5rem;
  --trailer: 5vh;
}